@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Profile" title="Manage">
            <i class="bi bi-person-circle"></i> @User.Identity?.Name
        </a>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
            <button type="submit" class="btn btn-link nav-link text-light">
                <i class="bi bi-box-arrow-right"></i> Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </li>
}
</ul>
