USE [master]
GO
/****** Object:  Database [EquipmentRentalDB]    Script Date: 5/12/2025 1:03:46 AM ******/
CREATE DATABASE [EquipmentRentalDB]
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EquipmentRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EquipmentRentalDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalTransactionId] [int] NULL,
	[UserId] [int] NULL,
	[UploadedAt] [datetime] NULL,
	[FileData] [varbinary](max) NULL,
	[FileName] [varchar](255) NULL,
	[FileType] [varchar](255) NULL,
 CONSTRAINT [PK__Document__3214EC07F41E3AE8] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CategoryId] [int] NULL,
	[RentalPrice] [decimal](10, 2) NOT NULL,
	[AvailabilityStatus] [nvarchar](50) NOT NULL,
	[ConditionStatus] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EquipmentId] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[IsHide] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](255) NOT NULL,
	[Timestamp] [datetime] NULL,
	[AffectedData] [nvarchar](255) NULL,
	[Source] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[MessageContent] [nvarchar](500) NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalRequests]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[EquipmentId] [int] NULL,
	[RentalStartDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[TotalCost] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransactions]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalRequestId] [int] NULL,
	[AssignedEquipmentId] [int] NULL,
	[CustomerId] [int] NULL,
	[ActualRentalStartDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[RentalPeriod] [int] NOT NULL,
	[RentalFee] [decimal](10, 2) NOT NULL,
	[Deposit] [decimal](10, 2) NOT NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRecords]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalTransactionId] [int] NULL,
	[ActualReturnDate] [datetime] NOT NULL,
	[ReturnCondition] [nvarchar](50) NOT NULL,
	[LateReturnFee] [decimal](10, 2) NULL,
	[AdditionalCharges] [decimal](10, 2) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/12/2025 1:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Cameras', N'Digital and DSLR cameras')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Lighting', N'LED and flash lighting equipment')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Audio', N'Microphones and audio recorders')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([Id], [RentalTransactionId], [UserId], [UploadedAt], [FileData], [FileName], [FileType]) VALUES (6, 14, NULL, CAST(N'2025-05-11T23:54:49.737' AS DateTime), 0x, N'Test.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document')
INSERT [dbo].[Documents] ([Id], [RentalTransactionId], [UserId], [UploadedAt], [FileData], [FileName], [FileType]) VALUES (7, 15, NULL, CAST(N'2025-05-12T00:06:37.793' AS DateTime), 0x434C3232200D0A333230304D477A, N'Ram.txt', N'text/plain')
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Id], [Name], [Description], [CategoryId], [RentalPrice], [AvailabilityStatus], [ConditionStatus], [CreatedAt]) VALUES (1, N'Canon EOS R5', N'High-end mirrorless camera', 1, CAST(150.00 AS Decimal(10, 2)), N'Available', N'New', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[Equipment] ([Id], [Name], [Description], [CategoryId], [RentalPrice], [AvailabilityStatus], [ConditionStatus], [CreatedAt]) VALUES (2, N'Sony A7 III', N'Professional mirrorless camera', 1, CAST(100.00 AS Decimal(10, 2)), N'Available', N'Good', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[Equipment] ([Id], [Name], [Description], [CategoryId], [RentalPrice], [AvailabilityStatus], [ConditionStatus], [CreatedAt]) VALUES (3, N'Godox SL60W', N'LED video light', 2, CAST(30.00 AS Decimal(10, 2)), N'Under Maintenance', N'Good', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [UserId], [EquipmentId], [Rating], [Comment], [CreatedAt], [IsHide]) VALUES (1, 1, 1, 5, N'Excellent camera, highly recommend!', CAST(N'2025-05-08T08:05:34.797' AS DateTime), 0)
INSERT [dbo].[Feedback] ([Id], [UserId], [EquipmentId], [Rating], [Comment], [CreatedAt], [IsHide]) VALUES (2, 2, 2, 4, N'Very good, minor scratches though', CAST(N'2025-05-08T08:05:34.797' AS DateTime), 0)
INSERT [dbo].[Feedback] ([Id], [UserId], [EquipmentId], [Rating], [Comment], [CreatedAt], [IsHide]) VALUES (3, 4, 4, 5, N'Audio quality was top notch', CAST(N'2025-05-08T08:05:34.797' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Timestamp], [AffectedData], [Source]) VALUES (1, 1, N'Created Rental Request', CAST(N'2025-05-08T08:05:34.797' AS DateTime), N'RentalRequest ID 1', N'Web')
INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Timestamp], [AffectedData], [Source]) VALUES (2, 2, N'Uploaded Document', CAST(N'2025-05-08T08:05:34.797' AS DateTime), N'Document ID 2', N'Desktop')
INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Timestamp], [AffectedData], [Source]) VALUES (3, 4, N'Submitted Feedback', CAST(N'2025-05-08T08:05:34.797' AS DateTime), N'Feedback ID 3', N'Web')
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [MessageContent], [NotificationType], [Status], [CreatedAt]) VALUES (1, 1, N'Your rental request has been approved.', N'Rental Approved', N'Unread', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [UserId], [MessageContent], [NotificationType], [Status], [CreatedAt]) VALUES (2, 2, N'Reminder: Equipment is due tomorrow.', N'Return Reminder', N'Unread', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [UserId], [MessageContent], [NotificationType], [Status], [CreatedAt]) VALUES (3, 4, N'Warning: Equipment is overdue.', N'Overdue Warning', N'Unread', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalRequests] ON 

INSERT [dbo].[RentalRequests] ([Id], [CustomerId], [EquipmentId], [RentalStartDate], [ReturnDate], [TotalCost], [Status], [CreatedAt], [Description]) VALUES (1, 1, 1, CAST(N'2025-04-20T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), CAST(300.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-05-08T08:05:34.797' AS DateTime), NULL)
INSERT [dbo].[RentalRequests] ([Id], [CustomerId], [EquipmentId], [RentalStartDate], [ReturnDate], [TotalCost], [Status], [CreatedAt], [Description]) VALUES (2, 2, 2, CAST(N'2025-04-19T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), CAST(200.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-05-08T08:05:34.797' AS DateTime), NULL)
INSERT [dbo].[RentalRequests] ([Id], [CustomerId], [EquipmentId], [RentalStartDate], [ReturnDate], [TotalCost], [Status], [CreatedAt], [Description]) VALUES (3, 4, 4, CAST(N'2025-04-18T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), CAST(50.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-05-08T08:05:34.797' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RentalRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalTransactions] ON 

INSERT [dbo].[RentalTransactions] ([Id], [RentalRequestId], [AssignedEquipmentId], [CustomerId], [ActualRentalStartDate], [ReturnDate], [RentalPeriod], [RentalFee], [Deposit], [PaymentStatus], [CreatedAt]) VALUES (1, 1, 1, 1, CAST(N'2025-04-20T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, CAST(300.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[RentalTransactions] ([Id], [RentalRequestId], [AssignedEquipmentId], [CustomerId], [ActualRentalStartDate], [ReturnDate], [RentalPeriod], [RentalFee], [Deposit], [PaymentStatus], [CreatedAt]) VALUES (2, 2, 2, 2, CAST(N'2025-04-19T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 2, CAST(200.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[RentalTransactions] ([Id], [RentalRequestId], [AssignedEquipmentId], [CustomerId], [ActualRentalStartDate], [ReturnDate], [RentalPeriod], [RentalFee], [Deposit], [PaymentStatus], [CreatedAt]) VALUES (3, 3, 4, 4, CAST(N'2025-04-18T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 2, CAST(50.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[RentalTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRecords] ON 

INSERT [dbo].[ReturnRecords] ([Id], [RentalTransactionId], [ActualReturnDate], [ReturnCondition], [LateReturnFee], [AdditionalCharges], [CreatedAt]) VALUES (1, 1, CAST(N'2025-04-22T00:00:00.000' AS DateTime), N'Good', CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[ReturnRecords] ([Id], [RentalTransactionId], [ActualReturnDate], [ReturnCondition], [LateReturnFee], [AdditionalCharges], [CreatedAt]) VALUES (2, 2, CAST(N'2025-04-22T00:00:00.000' AS DateTime), N'Damaged', CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[ReturnRecords] ([Id], [RentalTransactionId], [ActualReturnDate], [ReturnCondition], [LateReturnFee], [AdditionalCharges], [CreatedAt]) VALUES (3, 3, CAST(N'2025-04-21T00:00:00.000' AS DateTime), N'Good', CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-05-08T08:05:34.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReturnRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'Alice Smith', N'alice@example.com', N'AQAAAAIAAYagAAAAEMedeS5zthOuqcMllyq1pyxjqfjBkxxPWRIYjol8lvHeSCCPDcdLKnSRcrL5eG8rrg==', N'Customer', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'Bob Johnson', N'bob@example.com', N'AQAAAAIAAYagAAAAEMedeS5zthOuqcMllyq1pyxjqfjBkxxPWRIYjol8lvHeSCCPDcdLKnSRcrL5eG8rrg==', N'Customer', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (3, N'admin', N'Admin@example.com', N'root', N'Admin', CAST(N'2025-05-08T08:05:34.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F62D5E0D24]    Script Date: 5/12/2025 1:03:46 AM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534FA4F6145]    Script Date: 5/12/2025 1:03:46 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Documents] ADD  CONSTRAINT [DF__Documents__Uploa__37A5467C]  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_IsHide]  DEFAULT ((0)) FOR [IsHide]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Unread') FOR [Status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RentalRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[RentalRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RentalTransactions] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[RentalTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReturnRecords] ADD  DEFAULT ((0.00)) FOR [LateReturnFee]
GO
ALTER TABLE [dbo].[ReturnRecords] ADD  DEFAULT ((0.00)) FOR [AdditionalCharges]
GO
ALTER TABLE [dbo].[ReturnRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK__Documents__Renta__44FF419A] FOREIGN KEY([RentalTransactionId])
REFERENCES [dbo].[RentalTransactions] ([Id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK__Documents__Renta__44FF419A]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK__Documents__UserI__45F365D3] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK__Documents__UserI__45F365D3]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalRequests]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalRequests]  WITH CHECK ADD FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD FOREIGN KEY([AssignedEquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD FOREIGN KEY([RentalRequestId])
REFERENCES [dbo].[RentalRequests] ([Id])
GO
ALTER TABLE [dbo].[ReturnRecords]  WITH CHECK ADD FOREIGN KEY([RentalTransactionId])
REFERENCES [dbo].[RentalTransactions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD CHECK  (([AvailabilityStatus]='Under Maintenance' OR [AvailabilityStatus]='Unavailable' OR [AvailabilityStatus]='Available'))
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD CHECK  (([ConditionStatus]='Damaged' OR [ConditionStatus]='Good' OR [ConditionStatus]='New'))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD CHECK  (([Source]='Desktop' OR [Source]='Web'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([NotificationType]='Overdue Warning' OR [NotificationType]='Return Reminder' OR [NotificationType]='Rental Approved'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([Status]='Unread' OR [Status]='Read'))
GO
ALTER TABLE [dbo].[RentalRequests]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD CHECK  (([PaymentStatus]='Overdue' OR [PaymentStatus]='Pending' OR [PaymentStatus]='Paid'))
GO
ALTER TABLE [dbo].[ReturnRecords]  WITH CHECK ADD CHECK  (([ReturnCondition]='Lost' OR [ReturnCondition]='Damaged' OR [ReturnCondition]='Good'))
GO
USE [master]
GO
